<?xml version='1.0' encoding='windows-1252'?>
<!--
  Copyright (C) 2017 Christopher R. Field.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!--
  The "cargo wix" subcommand provides a variety of predefined variables available
  for customization of this template. The values for each variable are set at
  installer creation time. The following variables are available:

  TargetTriple      = The rustc target triple name.
  TargetEnv         = The rustc target environment. This is typically either
                      "msvc" or "gnu" depending on the toolchain downloaded and
                      installed.
  TargetVendor      = The rustc target vendor. This is typically "pc", but Rust
                      does support other vendors, like "uwp".
  CargoTargetBinDir = The complete path to the binary (exe). The default would
                      be "target\release\<BINARY_NAME>.exe" where
                      "<BINARY_NAME>" is replaced with the name of each binary
                      target defined in the package's manifest (Cargo.toml). If
                      a different rustc target triple is used than the host,
                      i.e. cross-compiling, then the default path would be
                      "target\<CARGO_TARGET>\<CARGO_PROFILE>\<BINARY_NAME>.exe",
                      where "<CARGO_TARGET>" is replaced with the "CargoTarget"
                      variable value and "<CARGO_PROFILE>" is replaced with the
                      value from the `CargoProfile` variable.
  CargoTargetDir    = The path to the directory for the build artifacts, i.e.
                      "target".
  CargoProfile      = Either "debug" or `release` depending on the build
                      profile. The default is "release".
  Version           = The version for the installer. The default is the
                      "Major.Minor.Fix" semantic versioning number of the Rust
                      package.
-->

<!--
  Please do not remove these pre-processor If-Else blocks. These are used with
  the `cargo wix` subcommand to automatically determine the installation
  destination for 32-bit versus 64-bit installers. Removal of these lines will
  cause installation errors.
-->
<?if $(var.Platform) = x64 ?>
<?define Win64 = 'yes' ?>
<?define PlatformProgramFilesFolder = 'ProgramFiles64Folder' ?>
<?else ?>
<?define Win64 = 'no' ?>
<?define PlatformProgramFilesFolder = 'ProgramFilesFolder' ?>
<?endif ?>

<Wix xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='octobuild'
        UpgradeCode='b4505233-6377-406b-955b-2547d86a99a7'
        Manufacturer='Artem V. Navrotskiy'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='Compiler cache for Unreal Engine'
            Manufacturer='Artem V. Navrotskiy'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            AllowSameVersionUpgrades='yes'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='octobuild Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Merge Id='VCRedist'
                   SourceFile='target/$(var.Profile)/vcredist.msm'
                   DiskId='1'
                   Language='0'/>

            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='INSTALLDIR' Name='octobuild'>
                    <Component Id='License' Guid='bd448224-5d8b-4b46-b317-c8264bf985dc'>
                        <File Id='LicenseFile'
                            Name='License.rtf'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>
                    
                    <Directory Id='Bin' Name='bin'>
                        <Component Id='agent_Comp' Guid='c4e9db58-087f-4ef2-98e4-0d880f6efd79'>
                            <File Source='$(var.CargoTargetBinDir)\agent.exe'/>
                            <ServiceInstall
                                    DisplayName='Octobuild Agent'
                                    ErrorControl='normal'
                                    Id='agent_install'
                                    Name='Incredibuild Agent'
                                    Start='auto'
                                    Type='ownProcess'>
                                <util:ServiceConfig
                                        FirstFailureActionType="restart"
                                        SecondFailureActionType="restart"
                                        ThirdFailureActionType="none"
                                        ResetPeriodInDays="1"
                                        RestartServiceDelayInSeconds="60"/>
                            </ServiceInstall>
                            <ServiceControl
                                    Id='agent_start'
                                    Name='Incredibuild Agent'
                                    Remove='uninstall'
                                    Start='install'
                                    Stop='both'
                                    Wait='yes'/>
                        </Component>
                        <Component Id='path_Comp' Guid='6013CE49-D7F0-4EB5-8C5C-C750367E82B2' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='xgConsole_Comp' Guid='8dca8328-4e8e-467b-ab51-1d0780c2afb2'>
                            <File
                                Id='exe0'
                                Name='xgConsole.exe'
                                DiskId='1'
                                Source='$(var.CargoTargetBinDir)\xgConsole.exe'
                                KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs all binaries and the license.'
            Level='1'
            ConfigurableDirectory='INSTALLDIR'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <MergeRef Id="VCRedist"/>

            <ComponentRef Id='License'/>
            <ComponentRef Id='agent_Comp'/>
            <ComponentRef Id='path_Comp'/>
            <ComponentRef Id='xgConsole_Comp'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[INSTALLDIR]' After='CostFinalize'/>

        <Property Id='ARPHELPLINK' Value='https://github.com/octobuild/octobuild'/>
        
        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>
    </Product>

</Wix>
