<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns="http://schemas.microsoft.com/wix/2006/wi">
     <?define ProductName="Octobuild" ?>

    <Product Id="*"
             Name="$(var.ProductName)"
             UpgradeCode="b4505233-6377-406b-955b-2547d86a99a7"
             Language="1033"
             Version="$(var.ProductVersion)"
             Manufacturer="Artem V. Navrotskiy">
        <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed" />
        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>
		<WixVariable Id="WixUILicenseRtf" Value="wix\License.rtf" />
		<UIRef Id="WixUI_Minimal"/>

        <Feature Id="ProductFeature" Level="1">
            <ComponentRef Id="files" />
            <ComponentRef Id="pathEnv" />
            <ComponentRef Id="appPaths" />
        </Feature>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)" />
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="files" Guid="8be772f9-6a4f-45b7-8fa3-d8884441bb18">
                <File Id="xgConsoleExeFile" Source="target\release\xgConsole.exe" Name="xgConsole.exe" KeyPath="yes" />
            </Component>
            <Component Id="pathEnv" Guid="7d8d87ee-8ad5-498b-977f-521a44735736" KeyPath="yes">
                <Environment Id="PathEnv" Value="[INSTALLLOCATION]" Name="PATH" Permanent="no" Part="last" Action="set" System="yes" />
            </Component>
            <Component Id="appPaths" Guid="42ddb019-eb96-4e03-91ac-e38b0b1dfc5b">
                <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\xgConsole.exe">
                    <RegistryValue Type="string" Value="[INSTALLLOCATION]xgConsole.exe" KeyPath="yes" />
                </RegistryKey>
            </Component>
         </DirectoryRef>
    </Product>
</Wix>
