name: CI
on: [push, pull_request]
jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: rustup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt
      - name: cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
  test:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: rustup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-targets
  clippy:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: rustup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: clippy
      - name: cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets -- -D warnings
  deb:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: rustup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: cargo install cargo-deb
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-deb
      - name: cargo deb
        uses: actions-rs/cargo@v1
        with:
          command: deb
          args: --output target/deploy/
  msi:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: rustup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - name: cargo install cargo-wix
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: cargo-wix
      - name: cargo wix
        uses: actions-rs/cargo@v1
        with:
          command: wix
          args: --nocapture --output target/deploy/
